.bookContainer {
  width: fit-content;
  margin-bottom: 20px;
}
.booksContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.All {
  display: flex;
}
.cat {
  width: 40%;
}
.iconImg {
  width: 20px;
  height: 25px;
}
button {
  background-color: transparent;
  border: none;
}
@media screen and (max-width: 992px) and (min-width: 400px) {
  .All {
    display: unset;
  }
}
