* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

.responsiveIcon {
  border-style: none;
}
.navLinks {
  justify-content: space-around;
  display: flex;
  width: 100%;
  align-items: center;
}
.navIcons {
  display: flex;

  width: fit-content;
  position: absolute;
  right: 0;
}
.svgIcon {
  width: 20px;
  height: 25px;
}
.navLink {
  margin-right: 20px;
}
.navLinkWord {
  display: flex;
  justify-content: center;
  /* width: fit-content; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.brandName {
  font-size: 30px;
  font-family: Guro;
  text-transform: capitalize;
}
